body
  color $black
  font-size $font-size-base
  font-family $font-main
  line-height normal
  background $white
  overflow hidden
  user-select none

.container
  width 100%
  height auto
  transition transform .85s ease-in-out

.section
  position relative
  width 100%
  height 100vh
  overflow hidden

.title
  display flex
  align-items flex-end
  flex-direction column
  h2
    margin-right 10px
    margin-bottom 0
    font-size(30px)
  &-legend
    margin-top 0
    display flex
    align-items center
    &-text
      margin: 0
      font-size(16px)
      margin-right 10px
      color $grey-light
      font-weight 700
    &-line
      height 5px
      width 40vw
      background-color $blue-sky 

.next
  height 100px
  width 100px
  border-top-left-radius 50%
  border-top-right-radius 50%
  display flex
  flex-direction column
  position absolute
  z-index 20
  bottom 0
  left calc(50% - 50px)
  display flex
  justify-content center
  align-items center
  color $black
  stroke $black
  border-color $black
  @media (min-width $tablet)
    height 200px
    width 200px
    left calc(50% - 100px)
  &:hover
    .next__button
      background $black
      color $white
  &__button
    display block
    margin auto
    width 50px
    height 50px
    border-radius 50%
    background none
    border 1px solid $black
    color inherit
    text-transform uppercase
    font-size 12px
    font-weight 400
    transition background .25s $cubic, color .25s $cubic
  &__svg
    width 100%
    height 100%
    position absolute
    z-index -1
    top 0
    left 0
    &-line
      stroke inherit
      stroke-width 1