head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Backland
    // inject:css
    // endinject
    // inject:js
    // endinject
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald", rel='stylesheet')