head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0 maximum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='/manifest.json' rel='manifest')
    title Atomic Backland Bentchetler
    link(rel="icon", type="image/png", sizes="32x32", href="/32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#DF353D")
    meta(name="description" content="Le modèle ultime qui repousse constamment les limites du possible en poudreuse.")
    // inject:css
    // endinject
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald", rel='stylesheet')