section.loader
    .loader__container
        img.loader-1(src=require("./../assets/img/atomic-logo-loader-1.png"))
        img.loader-2(src=require("./../assets/img/atomic-logo-loader-2.png"))
        div.loader-pourcentage 0

        