nav.header__nav
    ul
        li
            button.header__item le ski
        li
            button.header__item la performance
        li
            button.header__item l'histoire
        li
            button.header__item personnaliser