nav.header__nav
    ul
        li
            button.header__item le ski
        li
            button.header__item la performance
        li
            button.header__item chris benchetler
        li
            button.header__item personnaliser