<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backland</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>    
    <header class="header">
        <button class="header__toggle">
          <span></span><span></span><span></span>
        </button>
        <button class="header__logo header__item">
            <svg version="1.0" viewBox="0 0 760 180" xmlns="http://www.w3.org/2000/svg"><g transform="translate(360 -372.36)"><g transform="matrix(10.456 0 0 -10.456 -294.86 377.35)"><path d="m0 0s1.574-7.345 1.681-8.163c0.237-1.789 0.94-2.546 1.682-3.834 0.651-1.132 2.372-3.771 2.372-3.771l-5.734 3.049-5.734-3.049s1.715 2.644 2.372 3.746c0.792 1.325 1.436 2.028 1.682 3.875l1.679 8.147" fill="#ed1a3a"/></g><g transform="matrix(10.456 0 0 -10.456 257.67 445.48)"><path d="m0 0h3.269l-3.044-6.191h-3.268l3.043 6.191" fill="#ed1a3a"/></g><g transform="matrix(10.456 0 0 -10.456 389.54 485.65)"><path d="m0 0c-0.279-0.634-1.365-2.497-5.777-2.497-3.076 0-4.404 1.161-4.178 2.818 0.272 2.004 2.64 3.668 6.251 3.668 2.361 0 4.389-0.598 4.195-2.453h-3.091c0.11 0.58-0.319 0.91-1.33 0.91-1.813 0-2.632-1.214-2.752-2.091-0.069-0.511 0.03-1.309 1.53-1.309 1.026 0 1.661 0.408 1.943 0.954h3.209" fill="#ed1a3a"/></g><g transform="matrix(10.456 0 0 -10.456 -139.2 487.1)"><path d="m0 0h2.036l-0.104 1.856h-0.03l-1.902-1.856zm1.344 3.981h3.21l0.805-6.192h-3.208l-0.058 0.883h-3.462l-0.937-0.883h-3.329l6.979 6.192" fill="#ed1a3a"/></g><g transform="matrix(10.456 0 0 -10.456 74.366 471.86)"><path d="m0 0c-0.124-0.918-0.948-2.272-2.91-2.272-1.278 0-1.572 0.563-1.496 1.126 0.126 0.92 0.948 2.273 2.91 2.273 1.279 0 1.572-0.564 1.496-1.127zm-1.145 2.671c-1.713 0-3.188-0.384-4.302-1.006l0.422 0.858h-9.152l-0.78-1.586h2.942l-2.262-4.605h3.268l2.262 4.605h2.278c-0.641-0.589-1.045-1.288-1.148-2.038-0.244-1.787 1.457-2.714 4.459-2.714 3.609 0 6.189 1.691 6.47 3.771 0.259 1.891-1.456 2.715-4.457 2.715" fill="#ed1a3a"/></g><g transform="matrix(10.456 0 0 -10.456 81.1 507.29)"><path d="m0 0c1.695 0.742 2.786 1.947 2.971 3.307 0.101 0.738-0.076 1.325-0.496 1.774l0.437 0.831h4.563l-0.32-3.33h0.03l3.351 3.33h4.65l-3.102-6.191h-3.031l2.215 4.267h-0.029l-4.057-4.267h-2.423l0.195 4.267h-0.03l-2.036-4.267h-3.032l0.144 0.279" fill="#ed1a3a"/></g></g></svg>
        </button>
        <nav class="header__nav">
            <ul>
                <li><button class="header__item">le ski</button></li>
                <li><button class="header__item">la performance</button></li>
                <li><button class="header__item">chris benchetler</button></li>
                <li><button class="header__item">personnaliser</button></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="section landing">
            <div class="landing__background">
                <div class="landing__background-img">
                    <img src="./assets/img/mountain-4-blur.png" alt="mountain background">
                </div>
                <div class="landing__background-img">
                    <img src="./assets/img/mountain-3-blur.png" alt="mountain background">
                </div>
                <div class="landing__background-img">
                    <img src="./assets/img/mountain-2-blur.png" alt="mountain background">
                </div>
                <div class="landing__title">
                    <span class="landing__title-shadow">Backland</span>
                </div>
                <div class="landing__background-img">
                    <img src="./assets/img/mountain-1.png" alt="mountain background">
                </div>
            </div>
            <div class="landing__title">
                <h1 class="landing__title-text">Backland</h1>    
            </div>
        </section>
        <section class="section"></section>
        <section class="section"></section>
        <section class="section"></section>  
        <section class="section"></section>  
    </main>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>