.creation
  height 100vh
  padding-top 6vh
  position relative
  display flex
  .background
    background-color $blue-light
    position: absolute
    width: 60vw
    height: 70px
    top: 80vh
    z-index: -1
    opacity .4
  .content
    display flex
    width 100vw
    margin auto 
    height 70vh
    @media (min-width: $tablet)
      width 50vw
    &-left
      width: 20%
      position relative
      transition .3s $cubic all
      margin-left 10%
      &-reverse 
        position absolute 
        top calc(50% - 10px)
        right 0px
        z-index 2
        cursor pointer
        transition .4s $cubic all
        transform-origin: 10px 10px;
        img 
          width 20px
          height auto 
      .active
        transform rotate(-180deg)
      .visible
        z-index 2
        visibility visible
      &-ski
        background-repeat: no-repeat
        background-size: contain
        background-position center
        width: 100%
        position: absolute
        &__planche
          height: 100%
          visibility hidden
        &__fixation
          height: 170px
          z-index 2
          top: 32%
          transform: translateX(-800px)
          transition .4s $cubic all
    &-right
      width 75%
      margin-top: 40px
      display: flex;
      flex-direction: column;
      justify-content: center;
      p
        margin: 0
      .right-title
        p
          color #000000
          font-size(18px)
          font-weight bold
          margin-bottom: 10px
          cursor pointer
      .select
        margin-right: 10px
        margin-bottom: 20px
        position relative
        &-content
          border-right: 2px solid
          border-left: 2px solid
          border-bottom: 2px solid
          border-color: #ccc
          background-color #ffffff
          width: 164px
          position absolute
          div
            height 40px
            padding-left: 20px
            line-height: 40px
        &-title
          color $grey-light
          border 2px solid $grey-light
          line-height: 37px
          height: 40px
          padding-left: 20px
          margin-bottom: 0
          width: 164px
          background-size: 10%
          background-repeat: no-repeat
          background-position: center right
          background-origin: content-box
          padding-right: 10px
      .right-view
        .view-line
            width 70%
            height 2px
            background $primary-color
            position relative
            margin 10px 0
            .view-front
              right 0
            .view-back
              left 0
            .view
              top calc(50% - 4px)
              background $primary-color
              cursor:pointer
              height 8px
              width 8px
              border-radius 50%
              position absolute 
              transition: all 0.3s $cubic
              &:hover
                transform scale(1.3)



      .fixations
        &-name
          color $grey-light
          font-size(16px)
          margin-bottom: 10px
        &-select
          display: flex
          margin-right: 10px
          .fixation
            background-position center
            background-size contain
            background-repeat no-repeat
            background-origin: content-box
            width: 10vh
            height: 15vh
            padding: 5px
            cursor: pointer
            transition: all 0.3s $cubic
            &:hover
              transform scale(1.1)
          .active
            box-shadow: 0 2px 4px 1px rgba(186,186,186,0.5)
      .price
        margin-top: 40px
        height: 40px
        display flex
        margin-right: 10px
        &-text
          color $blue-sky
          background-color #ffffff
          width: 100px
          border: 2px solid $blue-sky
          border-right 0
          line-height: 38px
          text-align: center
        &-btn
          width 64px
          color #ffffff
          background-color #DC394A
          border-radius 0
          border 2px solid #DC394A
