.ski
  display flex
  flex-direction column
  justify-content center
  align-content center
  &::before, &::after
    content ''
    position absolute
    z-index 20
    top 0
    left 0
    width 100%
    height 100%
    transform-origin 50% 100%
    transition transform .75s .1s $cubic
  &::before
    background $primary-color-darker
  &::after
    background $white
  &__background
    position absolute
    z-index -10
    top 0
    left 0
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    &::after
      content ""
      position absolute
      width 15vw
      min-width 150px
      height 10vw
      min-height 100px
      left 0
      bottom 0
      background rgba($primary-color-darker, 40%)
      transform-origin 0 50%
      transition transform .55s $cubic
      transform scaleX(0)
    img
      flex-shrink 1
      height 100%
      width auto
      margin-left -110%
      transition transform .5s 0s $cubic
      @media (min-width $tablet)
        margin-left 0%
  &__title
    position relative
    margin 0
    margin-left 17vw
    padding 0
    text-align left
    font-size 35px
    width 160px
    font-family $font-extra
    font-weight 400
    transform translateX(-20vw)
    transition transform .45s ease-in-out
    @media (min-width $mobile)
      margin-left 50vw
      font-size 50px
      width 220px
    &::after
      content ""
      position absolute
      width 60%
      height 100%
      top 0
      left -5%
      background $white
      transform-origin 100% 50%
      transition transform .65s $cubic
  &__text
    position relative
    z-index 10
    width 100%
    padding 0 17vw
    margin 30px 0
    font-size 15px
    line-height 1.5
    color rgba($black, 80%)
    font $main-font
    transition transform .45s ease-in-out
    transform translateX(-20vw)
    @media (min-width $mobile)
      padding 0
      margin 5vh 0
      margin-left 50vw
      width 50vw
      max-width 700px
      font-size 17px
    @media (min-width: $laptop)
      width 40vw
      margin-top 2vh
      margin-bottom 8vh
      line-height 1.7
    &::after
      content ""
      position absolute
      width 110%
      height 100%
      top 0
      left -5%
      background $white
      transform-origin 100% 50%
      transition transform .65s $cubic
    &::before
      content ""
      position absolute
      z-index -1
      width 20vw
      min-width 200px
      height 15vw
      min-height 150px
      top -8vw
      right -10vw
      background rgba($primary-color-darker, 40%)
  &__image
    position relative
    margin-left 17vw
    margin-bottom 2vh
    perspective 400px
    display inline-block
    width auto
    max-width 700px
    transition transform .45s ease-in-out
    transform translateX(-20vw)
    @media (min-width $mobile)
      margin-bottom 10vh
      margin-left 50vw
      margin-right 10vw
    &:hover
      .ski__image-item
        transform rotateX(180deg)
    &::after
      content ""
      position absolute
      z-index 10
      width 110%
      height 100%
      top 0
      left -5%
      background $white
      transform-origin 100% 50%
      transition transform .65s $cubic
    &-item
      display block
      height 60px
      margin-bottom 10px
      transition transform .75s $cubic
      transform-style preserve-3d
      @media (min-width: $laptop)
        margin-bottom 3vh
        width 40vw
        max-width 1000px
      &:nth-child(2)
        display none
        @media (min-width $s-mobile)
          display block
          margin-bottom 0
      img
        height 100%
        width auto
        max-width 700px
        position absolute
        z-index 10
        top 0
        left 0
        backface-visibility hidden
        transform-style preserve-3d
        @media (min-width: $mobile)
          width 100%
          height auto
        &:nth-child(1)
          backface-visibility hidden
          transform rotateX(180deg)
  &__next
    width 100vw
    height 100vw
    background $primary-color-darker
    position absolute
    z-index 50
    bottom -70vw
    left 0
    border-radius 50%
    overflow hidden
    transition transform .4s $cubic    
    &:hover
      transform scale(1.1)
      .ski__next-icon
        transform scale(0.9) translateY(45px) rotate(90deg)
    span
      display flex
      width 100%
      height 100%
    @media (min-width: $tablet)
      width 60vw
      height 60vw
      bottom -45vw
      left 20vw
    @media (min-width: $laptop)
      width 40vw
      height 40vw
      bottom -35vw
      left 30vw
    &-icon
      width 30px
      height 30px
      margin auto
      margin-top 20px
      transform rotate(90deg)
      transition transform .4s $cubic
      path
        fill $white

/**
* Fade in transition
*/
.ski.section--fade-in
  &::before
    transition transform .5s .65s $cubic
    transform translateY(100%)
  &::after
    transition transform .5s .65s $cubic
    transform translateY(150%)
  .ski__background
    img
      transition transform .85s .6s $cubic
      transform scale(1.15)
    &::after
      transition-delay .75s
      transform scaleX(1)
  .ski__title
    transition transform .4s .6s $cubic
    transform translateX(0)
    &::after
      transition-delay 1s
      transform scaleX(0)
  .ski__text
    transition transform .4s .8s $cubic
    transform translateX(0)
    &::after
      transition-delay 1.2s
      transform scaleX(0)
  .ski__image
    transition transform .4s 1s $cubic
    transform translateX(0)
    &::after
      transition-delay 1.4s
      transform scaleX(0)
