.performance
  display flex
  flex-direction column
  align-items center
  @media (min-width: $tablet)
    flex-direction row
  &__transition
    pointer-events none
    position absolute
    z-index 90
    top 0
    left 0
    width 100%
    height 100%
    display flex
    flex-direction row
    &-item
      height 100%
      background $primary-color-darker
      transform-origin 50% 0%
      transition transform .45s ease-in-out
      width 40vw
      @media (min-width: $laptop)
        width 20vw      
      &:nth-child(2), &:nth-child(3)
        display none
        @media (min-width: $laptop)
          display block
      &:first-child, &:last-child
        width 20vw
        @media (min-width: $laptop)
          width 10vw  

  &__visualization
    flex-shrink 0
    position relative
    z-index 10
    width 70vw
    max-width 50vh
    height 70vw
    max-height 50vh    
    margin 0 17vw
    margin-top 20vw
    @media (min-width: $tablet)
      width 40vw
      height 40vw
      margin 0
      margin-left 10vw
      max-width inherit
      max-height inherit
    &-text
      position absolute
      top -15px
      left -40px
      width 80px
      height 30px
      line-height 30px
      text-align center
      font-size 15px
      text-transform uppercase
      font-family 'Oswald', sans-serif
      font-weight 300
    &-svg
      width 100%
      height 100%
      pointer-events none
      .circle-main
        fill lighten($primary-color-darker, 90%)
        stroke $primary-color-darker
        stroke-width 1px
        pointer-events auto
      .circle
        fill none
        stroke lighten($primary-color-darker, 70%)
        stroke-width 1px
        pointer-events none
      .shadow
        opacity .1
      line
        stroke lighten($primary-color-darker, 70%)
        stroke-width 1px
      polygon
        fill $primary-color-darker
      g
        pointer-events none

  &__content
    width 100%
    height auto
    display flex
    flex-direction column
    justify-content flex-start
    padding 0 10vw
    // padding-bottom 10vw
    @media (min-width $mobile)
      flex-shrink 0
      position relative
      width 50vw
      padding 10vw
      overflow hidden

.content
  &__title
    position relative
    padding 0
    margin 0    
    text-align left
    font-size 6vh
    line-height 1.15
    font-family $font-extra
    font-weight 400
    color $black
    text-transform capitalize
    transition transform .45s ease-in-out
    // &::after
    //   content ""
    //   position absolute
    //   width 70%
    //   height 105%
    //   top -5%
    //   left -5%
    //   background $white
    //   transform-origin 100% 50%
    //   transition transform .65s $cubic
    //   @media (min-width $mobile)      
    //     background $primary-color-darker
  &__text
    width 100%
    padding 0
    margin 20px 0 30px 0
    font-size 16px
    line-height 1.6
    color lighten($black, 10%)
    font $main-font
    transition transform .45s ease-in-out
    @media (min-width $mobile)
      color lighten($black, 30%)
      font-size 17px
      line-height 1.7
      margin 5vh 0
    // &::after
    //   content ""
    //   position absolute
    //   width 110%
    //   height 100%
    //   top 0
    //   left -5%
    //   background $white
    //   transform-origin 100% 50%
    //   transition transform .65s $cubic
    //   @media (min-width $mobile)      
    //     background $primary-color-darker

/**
* fade in transition
*/
.performance.section--fade-in
  .performance__transition-item
    transform scaleY(0)
    &:nth-child(1)
      transition-delay .4s
    &:nth-child(2)
      transition-delay .5s      
    &:nth-child(3)
      transition-delay .6s      
    &:nth-child(4)
      transition-delay .7s    
    &:nth-child(5)
      transition-delay .8s      
    &:nth-child(6)
      transition-delay .9s      
    
