.performance
  display flex
  flex-direction row
  align-items center
  &__transition
    position absolute
    z-index 90
    top 0
    left 0
    width 100%
    height 100%
    display flex
    flex-direction row
    &-item
      height 100%
      background $primary-color-darker
      transform-origin 50% 0%
      transition transform .45s ease-in-out
      width 40vw
      @media (min-width: $laptop)
        width 20vw      
      &:nth-child(2), &:nth-child(3)
        display none
        @media (min-width: $laptop)
          display block
      &:first-child, &:last-child
        width 20vw
        @media (min-width: $laptop)
          width 10vw  

  &__visualization
    position relative
    width 40vw
    height 40vw
    margin auto 10vw
    &-text
      position absolute
      top -15px
      left -40px
      width 80px
      height 30px
      line-height 30px
      text-align center
      font-size 15px
      text-transform uppercase
      font-family 'Oswald', sans-serif
      font-weight 300
    &-svg
      width 100%
      height 100%
      .circle-main
        fill lighten($primary-color-darker, 90%)
        stroke $primary-color-darker
        stroke-width 1px
      .circle
        fill none
        stroke lighten($primary-color-darker, 70%)
        stroke-width 1px
      .shadow
        opacity .1
      line
        stroke lighten($primary-color-darker, 70%)
        stroke-width 1px
      polygon
        fill $primary-color-darker

/**
* fade in transition
*/
.performance.section--fade-in
  .performance__transition-item
    transform scaleY(0)
    &:nth-child(1)
      transition-delay .4s
    &:nth-child(2)
      transition-delay .5s      
    &:nth-child(3)
      transition-delay .6s      
    &:nth-child(4)
      transition-delay .7s    
    &:nth-child(5)
      transition-delay .8s      
    &:nth-child(6)
      transition-delay .9s      
    
