.ski
  display flex
  flex-direction row
  flex-wrap nowrap
  &::before, &::after
    content ''
    position absolute
    z-index 20
    top 0
    left 0
    width 100%
    height 100%
    transform-origin 50% 100%
    transition transform .75s .1s $cubic
  &::before
    background $primary-color-darker
  &::after
    background $white
  &__section-background
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    @media (min-width $mobile)
      flex-shrink 0
      width 50vw
      height 100vh
      overflow hidden
    &::after
      content ""
      position absolute
      z-index -1
      bottom 0
      left 0
      width 100%
      height 70%
      background linear-gradient(180deg, rgba(0,0,0, 0%) 0%, rgba(0,0,0, 70%) 50%, rgba(0,0,0, 90%) 100%)
      @media (min-width $mobile)
        display none
   img
      position relative
      z-index -2
      flex-shrink 1
      height 100%
      width auto
      margin auto      
      transition transform .5s 0s $cubic
  &__section-about
    width 100%
    height 100%
    position absolute
    display flex
    flex-direction column
    justify-content flex-end
    padding 0 10vw
    padding-bottom 10vw
    @media (min-width $mobile)
      flex-shrink 0
      position relative
      width 50vw
      padding 10vw
      overflow hidden
  &__section-video
    width 100vw
    height 100vh
    background #000
    transition transform .65s $cubic
    flex-shrink 0
    &::after
      content ""
      position absolute
      z-index 10
      top 0
      left 100%
      width 50%
      height 100%
      transition transform .45s $cubic
      background red    
    &--visible
      transform translateX(-100%)
      &::after
        transform translateX(-50%) scaleX(0)

.about
  &__title
    position relative
    padding 0
    margin 0    
    text-align left
    font-size 6vh
    line-height 1.15
    font-family $font-extra
    font-weight 400
    color $white
    text-transform capitalize
    transform translateX(-20vw)
    transition transform .45s ease-in-out
    @media (min-width $mobile)
      color $black
    &::after
      content ""
      position absolute
      width 70%
      height 105%
      top -5%
      left -5%
      background $white
      transform-origin 100% 50%
      transition transform .65s $cubic
      @media (min-width $mobile)      
        background $primary-color-darker
  &__text
    width 100%
    padding 0
    margin 20px 0 30px 0
    font-size 16px
    line-height 1.6
    color darken($white, 10%)
    font $main-font
    transition transform .45s ease-in-out
    transform translateX(-20vw)
    @media (min-width $mobile)
      color lighten($black, 30%)
      font-size 17px
      line-height 1.7
      margin 5vh 0
    &::after
      content ""
      position absolute
      width 110%
      height 100%
      top 0
      left -5%
      background $white
      transform-origin 100% 50%
      transition transform .65s $cubic
      @media (min-width $mobile)      
        background $primary-color-darker
  &__button
    width 200px
    height 50px
    line-height 50px
    text-align center
    background $primary-color-darker
    font-size 16px
    color $white
    text-transform uppercase
    font-weight 500
    border-radius 2px
    &:active
      background darken($primary-color-darker, 15%)
  
.video
  position relative
  &__skip-container
    height 140px
    width 140px
    border-top-left-radius 50%
    border-top-right-radius 50%
    display flex
    flex-direction column
    position absolute
    bottom -0
    left calc(50% - 70px)
  &__skip-button
    display block
    margin 0 auto
    margin-top 40px
    width 50px
    height 50px
    border-radius 50%
    background none
    border 2px solid $white
    color $white
    text-transform uppercase
    font-size 12px
    font-weight 600
  &__skip-line
    width 100%
    height 100%
    position absolute
    z-index -1
    top 0
    left 0
    // &::after
    //   content ""
    //   position absolute
    //   top 0
    //   left 0
    //   width 100%

    // &::before
    //   content ""
    //   position absolute
    //   z-index -1
    //   width 20vw
    //   min-width 200px
    //   height 15vw
    //   min-height 150px
    //   top -8vw
    //   right -10vw
    //   background rgba($primary-color-darker, 40%)
  // &__image
  //   position relative
  //   margin-left 17vw
  //   margin-bottom 2vh
  //   perspective 400px
  //   display inline-block
  //   width auto
  //   max-width 700px
  //   transition transform .45s ease-in-out
  //   transform translateX(-20vw)
  //   @media (min-width $mobile)
  //     margin-bottom 10vh
  //     margin-left 50vw
  //     margin-right 10vw
  //   &:hover
  //     .ski__image-item
  //       transform rotateX(180deg)
  //   &::after
  //     content ""
  //     position absolute
  //     z-index 10
  //     width 110%
  //     height 100%
  //     top 0
  //     left -5%
  //     background $white
  //     transform-origin 100% 50%
  //     transition transform .65s $cubic
  //   &-item
  //     display block
  //     height 60px
  //     margin-bottom 10px
  //     transition transform .75s $cubic
  //     transform-style preserve-3d
  //     @media (min-width: $laptop)
  //       margin-bottom 3vh
  //       width 40vw
  //       max-width 1000px
  //     &:nth-child(2)
  //       display none
  //       @media (min-width $s-mobile)
  //         display block
  //         margin-bottom 0
  //     img
  //       height 100%
  //       width auto
  //       max-width 700px
  //       position absolute
  //       z-index 10
  //       top 0
  //       left 0
  //       backface-visibility hidden
  //       transform-style preserve-3d
  //       @media (min-width: $mobile)
  //         width 100%
  //         height auto
  //       &:nth-child(1)
  //         backface-visibility hidden
  //         transform rotateX(180deg)
  // &__next
  //   width 100vw
  //   height 100vw
  //   background $primary-color-darker
  //   position absolute
  //   z-index 50
  //   bottom -70vw
  //   left 0
  //   border-radius 50%
  //   overflow hidden
  //   transition transform .4s $cubic    
  //   &:hover
  //     transform scale(1.1)
  //     .ski__next-icon
  //       transform scale(0.9) translateY(45px) rotate(90deg)
  //   span
  //     display flex
  //     width 100%
  //     height 100%
  //   @media (min-width: $tablet)
  //     width 60vw
  //     height 60vw
  //     bottom -45vw
  //     left 20vw
  //   @media (min-width: $laptop)
  //     width 40vw
  //     height 40vw
  //     bottom -35vw
  //     left 30vw
  //   &-icon
  //     width 30px
  //     height 30px
  //     margin auto
  //     margin-top 20px
  //     transform rotate(90deg)
  //     transition transform .4s $cubic
  //     path
  //       fill $white

/**
* Fade in transition
*/
.ski.section--fade-in
  &::before
    transition transform .5s .65s $cubic
    transform translateY(100%)
  &::after
    transition transform .5s .65s $cubic
    transform translateY(150%)
  .ski__background
    img
      transition transform .85s .6s $cubic
      transform scale(1.15)
    &::after
      transition-delay .75s
      transform scaleX(1)
  .about__title
    transition transform .4s .6s $cubic
    transform translateX(0)
    &::after
      transition-delay 1s
      transform scaleX(0)
  .about__text
    transition transform .4s .8s $cubic
    transform translateX(0)
    &::after
      transition-delay 1.2s
      transform scaleX(0)
  // .ski__image
  //   transition transform .4s 1s $cubic
  //   transform translateX(0)
  //   &::after
  //     transition-delay 1.4s
  //     transform scaleX(0)
