$font-main = "OpenSans", sans-serif
$font-title = "FuturaLT", sans-serif

// Base
// html tag to make 1em equal 10px
$font-size-base = 16px


// body tag
$font-family-base = $main-font

// add your custom font-face here
$radius = 4px

// Colors
$primary-color = #C7E1F3
$primary-color-border =#72B5E0
$white = #FFFFFF
$black = #000000
$grey  = #3E3E3E

$grey-light = #999999

$blue-sky = #83B1C5
$blue-light = #BDE1E0

// Media queries
$s-mobile = 414px
$mobile   = 767px
$tablet   = 768px
$laptop   = 1024px
$large    = 1280px
$x-large  = 1400px

// Animations
$cubic = cubic-bezier(0.62, 0.28, 0.23, 0.99)