.landing
  &__background // mountain transition
    width 100%
    height 100%
    position absolute
    left 0
    bottom 0
    overflow hidden
    &::after, &::before
      content ""
      position absolute
      z-index 10
      width 100%
    &::before // white effect
      height 100%
      background rgba($primary-color, 25%)
    &::after // white transition
      bottom 0
      height 30vh
      background linear-gradient(0deg, rgba($white, 100%) 1%, rgba($white, 0%) 100%)
    &-img
      position absolute
      width 100vw
      height 100vh
      display flex
      overflow hidden
      align-items center
      justify-content center
      overflow hidden
      img
        width 100%
        height auto
        margin auto
        margin-bottom 0
        transform-origin 50% 50%
        min-width 1000px
        @media (min-width $tablet)
          min-width inherit
      &:nth-child(1) img        
        width calc(100% + 80px)
      &:nth-child(2) img
        width calc(100% + 80px)        
      &:nth-child(3) img
        width calc(100% + 80px)
      &:nth-child(4) img
        width calc(100% + 80px)
  &__title
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    z-index 20
    display flex
    justify-content center
    align-items center
    overflow hidden
    user-select none
    cursor default
    &-text, &-shadow
      margin auto
    &-text  
      font-size(55px)
      font-family $font-title
      color $grey
      @media (min-width $tablet)
        font-size(65px)
      @media (min-width $laptop)
        font-size(10vw)
    &-shadow
      z-index -1
      font-size(70px)
      font-weight bold
      color rgba($black, 20%)
      mix-blend-mode overlay
      padding-left 5% 
      padding-top 5% 
      @media (min-width $tablet)
        font-size(80px)
      @media (min-width $laptop)
        font-size(14vw)