.section-creation
  height 100vh
  padding-top 6vh
  position relative
  .background
    background-color $blue-light
    position: absolute
    width: 60vw
    height: 70px
    top: 80vh
    z-index: -1
    opacity .4
  .content
    display flex
    &-left
      height: 70vh
      width: 40vw
      position relative
      transition .3s $cubic all
      &:after
        content: "";
        width: 30px;
        height: 30px;
        background-image: url("/assets/arrow_curved.svg");
        bottom 0
        transform rotateZ(216deg) translateX(-150%) translateY(-13px) scale(0.8)
        position: absolute;
      .visible
        z-index 2
        visibility visible
      &-ski
        background-repeat: no-repeat
        background-size: contain
        background-position center
        width: 100%
        position: absolute
        &__planche
          height: 100%
          visibility hidden
        &__fixation
          height: 170px
          z-index 2
          top: 32%
          transform: translateX(-800px)
          transition .4s $cubic all
    &-right
      width 60vw
      margin-top: 40px
      p
        margin: 0
      .right-title
        p
          color #000000
          font-size(18px)
          font-weight bold
          margin-bottom: 10px
          cursor pointer
      .select
        margin-right: 10px
        margin-bottom: 20px
        position relative
        &-content
          border-right: 2px solid
          border-left: 2px solid
          border-bottom: 2px solid
          border-color: #ccc
          background-color #ffffff
          width: 164px
          position absolute
          div
            height 40px
            padding-left: 20px
            line-height: 40px
        &-title
          color $grey-light
          border 2px solid $grey-light
          line-height: 37px
          height: 40px
          padding-left: 20px
          margin-bottom: 0
          width: 164px
          background-image url('/assets/arrow.svg')
          background-size: 10%
          background-repeat: no-repeat
          background-position: center right
          background-origin: content-box
          padding-right: 10px
      .fixations
        &-name
          color $grey-light
          font-size(16px)
          margin-bottom: 10px
        &-select
          display: flex
          justify-content space-between
          margin-right: 10px
          .fixation
            background-position center
            background-size contain
            background-repeat no-repeat
            background-origin: content-box
            width: 10vh
            height: 15vh
            border: 1px solid $grey-light
            padding: 5px
          .active
            box-shadow: 0 2px 4px 1px rgba(186,186,186,0.5)
      .price
        margin-top: 40px
        height: 40px
        display flex
        justify-content: flex-end
        margin-right: 10px
        &-text
          color $blue-sky
          background-color #ffffff
          width: 100px
          border: 2px solid $blue-sky
          border-right 0
          line-height: 38px
          text-align: center
        &-btn
          width 64px
          color #ffffff
          background-color #DC394A
          border-radius 0
          border 2px solid #DC394A
