doctype html
html(lang='fr')
    style(type="text/css").
        html, body{
            overflow: hidden;
            width: 100vw;
            height: 100vh;
        }
        .loader {
            width: 100vw;
            height: 100vh;
            background: white;
            position: fixed; 
            z-index: 200;
            transition: all 0.3s cubic-bezier(0.62, 0.28, 0.23, 0.99)
        }
        .loader__container {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .loader__container img {
            position: absolute; 
            top: calc(50% - 150px);
            right: 0;
            left: 0; 
            bottom: 0;
            width: 150px;
            margin: 0 auto;
        }
        .loader-2 {
            clip-path: inset(100% 0 0 0);
        }
        .loader-pourcentage{
            width: 100%;
            position:absolute;
            top: calc(50% + 75px);
            text-align:center; 
            font-family: "Oswald", sans-serif;
            font-weight: bold;
            font-size:60px;
            margin-left: 5px;
        }


    include includes/head.pug
    body
        include includes/loader.pug

        include includes/header.pug
        include includes/grid.pug
        main.container
            include includes/sections/landing
            include includes/sections/ski
            include includes/sections/performance
            include includes/sections/travel
            include includes/sections/creation
    // inject:js
    // endinject