doctype html
html(lang='fr')
    include includes/head.pug
    body
        include includes/header.pug
        include includes/grid.pug
        main.container
            include includes/sections/landing
            include includes/sections/ski
            include includes/sections/performance
            include includes/sections/travel
            include includes/sections/creation
    // inject:js
    // endinject