section.section.landing
    .landing__background
        .landing__background-img
            img(src=require("./../../assets/img/mountain-4-blur.png"), alt='mountain background', data-preload)
        .landing__background-img
            img(src=require('./../../assets/img/mountain-3-blur.png'), alt='mountain background', data-preload)
        .landing__background-img
            img(src=require('./../../assets/img/mountain-2-blur.png'), alt='mountain background', data-preload)
        .landing__background-img
            img(src=require('./../../assets/img/mountain-1.png'), alt='mountain background', data-preload)
    .landing__title.landing__title__behind
        span.landing__title-shadow Backland
    .landing__title
        h1.landing__title-text Backland
        p.landing__title-description
            | Le modèle ultime qui repousse constamment les limites du possible en poudreuse.
    .next
        svg.next__svg
            line.next__svg-line
        button.next__button next