section.section.performance
    .performance__transition
        each val in [1,2,3,4,5,6]
            .performance__transition-item
    .performance__visualization
        svg.performance__visualization-svg
            defs
                filter(id="shadow", x="-100%", y="-100%", width="300%", height="300%")
                    feOffset(result="offOut", in="SourceAlpha", dx="" dy="0")
                    feGaussianBlur(result="blurOut" in="offOut", stdDeviation="10")
                    feBlend(in="SourceGraphic", in2="blurOut", mode="normal")
    .performance__content
        .content__title tech <br> features
        .content__text
            | Avec son Carbon Backbone sur toute la longueur pour un maximum de stabilité, une construction Step Down Sidewall 2.0
            | pour la robustesse et un patin de 120 mm pour une portance illimitée, le Backland Bent Chetler est le jouet ultime pour s’éclater dans la poudreuse.
    .next
        svg.next__svg
            line.next__svg-line
        button.next__button next