section.section.ski
    .ski__section-background
        img(src=require('./../../assets/img/background-ski-2.jpg'), alt='')
    .ski__section-about
        h2.about__title élargissez <br>votre <br>horizon.
        p.about__text
            | L’Atomic Backland Bent Chetler est un ski culte pour tous les amateurs de grosses virées en poudreuse. Il
            | offre non seulement une meilleure portance dans la neige profonde, mais permet également d’exploiter de
            | nouvelles possibilités dans la poudreuse.
        button.about__button découvrir
    .ski__section-video.video
        video.video__player
            source(src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4")
        .video__effect-play
            svg(fill='#000000', height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none')
                path.icon(d='M8 5v14l11-7z')
        .video__effect-pause
            svg(fill='#000000', height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none')
                path.icon(d='M6 19h4V5H6v14zm8-14v14h4V5h-4z')

        .video__seek-bar
            .video__seek-bar-fill
        .video__timing
            span.video__current 0:00
            | /
            span.video__duration 1:00
        button.video__mute
            each val in Array(4)
                .video__mute-line
        .next
            svg.next__svg
                line.next__svg-line
            button.next__button skip