section.section.ski
    .ski__section-background
        img(src=require('./../../assets/img/background-ski-2.jpg'), alt='')
    .ski__section-about
        h2.about__title élargissez <br>votre <br>horizon.
        p.about__text
            | L’Atomic Backland Bent Chetler est un ski culte pour tous les amateurs de grosses virées en poudreuse. Il
            | offre non seulement une meilleure portance dans la neige profonde, mais permet également d’exploiter de
            | nouvelles possibilités dans la poudreuse.
        button.about__button découvrir
    .ski__section-video.video
        .next
            svg.next__svg
                line.next__svg-line
            button.next__button skip