section.section.chris
    .travel__container
        img.travel__mountain(src=require("./../../assets/img/mountain-travel.jpg"), alt="mountain travel")
        .travel__cards
            .travel__card
                | Card1
                br
                | balbdh dfhqs lfhjlkdq hfhdsqkljf hqsdhf jlkdhs qlkf hlkqds
            .travel__card
                | Card2
                br
                | fqsid hfhsd jfkl dqshfj khdqs kjhfhhqs djklfhjkl dsqghjf hdqksjl hflh jksdqjkf
            .travel__card
                | Card3
                br
                | qdjshfjk qsdhjkfhj dkqsj fnvjngyo,iu chgf,uj dsg,sdgjk dslgjl