section.section.chris
    .travel__container
        img.travel__mountain(src=require("./../../assets/img/mountain-travel.jpg"), alt="mountain travel")
        .travel__cards
            .travel__card
                h3.card__title 
                  | Artiste
                  br
                  | athlète
                p.card__text Il a été fortement influencé par le snowboard et l'art, ce qui l’a transformé en l'un des skieurs les plus élégants. S'intéressant davantage à la façon dont un ski tourne et glisse dans la neige, Chris a conçu et développé son propre ski pro avec Atomic ; Le Bent Chetler. 
            .travel__card
                h3.card__title
                  | Un homme
                  br
                  | pas comme les autres
                p.card__text "J'essaie de partager ma vision du ski de façon à motiver les jeunes et les moins jeunes à regarder notre sport et le terrain avec une nouvelle perspective. J'espère les inspirer à rompre avec la norme."
            .travel__card
                h3.card__title
                  | Accord parfait
                  br
                  | avec la montagne
                p.card__text "J'essaie de faire de mon ski une extension de moi, et j'essaie de regarder la montagne comme une ligne continue, au lieu de la compartimentaliser en une seule falaise ou un seul air."
        .travel__controllers.travel__controllers--start
            img.controllers.controllers__prev(src=require("./../../assets/img/controllers/ic_navigate_before_black_24px.svg"), alt="controller prev")
            img.controllers.controllers__next(src=require("./../../assets/img/controllers/ic_navigate_next_black_24px.svg"), alt="controller next")
            .next
                svg.next__svg
                    line.next__svg-line
                button.next__button skip